/*main body*/
body{	
background-color: #ccc;
height: auto;
background-image: url('../../assets/images/concrete_seamless.png');
overflow: auto;
}


/*holds both main content and sidebar*/

div{

	
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../../assets/images/concrete_seamless.png');
	height: auto;
	}


/*images of projects*/

.project_image{
    padding:  5px;
    
}


/*labels overlapping of images*/

.image_label{
position: relative;
z-index: 2;
bottom: 80px;
font-size: 18px;
color: #fff;
padding: 13px;
background-color:#4aaaa5; 
margin-left: 5px;
margin-right: 5px;

}


/*Form textbox in contact page*/

input[type=text], select {
    width: 600px;
    padding: 12px 20px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Form textarea for comments/messages in contact page*/

#message_box {
	width: 590px;
	height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: -10px;	
    border-radius: 4px;
}


/*Submit Button in Contact page*/
input[type=submit]{
margin-top: 30px;
	background-color: #4aaaa5;
	color: #fff;
	font-size: 14px;
	float: left;
	font-weight: bold;
	border: none;
	padding: 10px;
	width: 100px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; 

}


/* general paragraph style*/

p{ 
font-size: 18px;
text-align: left;
font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
 }


/* Header */
header{

	color: #777;
	padding-top: 30px;
	padding-bottom: 15px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	height: 60px;
	width: auto;
	border-bottom: solid #ccc;
   

}

/*sty;ing for navigation in header*/
nav{
width: 200px;
    padding:  33px;
    width: auto;
    height:  35px;
	color: #ccc;
	top:  -140px;
	right: -800px;
	font-size: 18px;
	font-weight: lighter;
	position: relative;
	float: top;
	font-family:'Georgia', Times, Times New Roman, serif;
	text-decoration: none;


}

/*nav bar link styles*/


a:link, a:visited{
    color: #ccc;
    text-decoration: none;
}

a:hover{
	text-decoration: underline;
}



/* Main content box */
.main_content_box{

    color:#ccc;
	background-color: #fff;
	float: left;
	width: 650px;
	height: auto;
	margin-bottom: 30px;
	border: 1px solid #ddd;
	padding-bottom: 15px;
	




}

/* Sidebar*/

aside{
color: #777;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #fff;
	margin-left: 730px;
    margin-right: auto;
	margin-bottom: 20px;
	width: 270px;
	height: 250px;
	position: relative;
	border: 1px solid #ddd;
  
}

/*footer*/


footer{
    color: #fff;
	padding-top: 15px;
	padding-bottom: 25px;
	background-color: #666666;
	width: 100%;
	clear : both;
	border-top-style: solid;
	border-width: 10px;
	border-top-color: #4aaaa5;
	position:relative;
    margin: -410px auto 0 auto;
    float: bottom;
}

/* entire content area (sidebar + main content) */
.content_area{
	width: 960px;
	padding-left: 10px;
	display: block;
    margin-bottom: 200px;
    min-height: 730px;
    clear: both;

}

/* entire content area (sidebar + main content) * --- when height is larger than 900px*/

.content_area2{
	width: 960px;
	padding-left: 10px;
	display: block;
    margin-bottom: 200px;
    min-height: 1000px;
    clear: both;


}

/* About Me Label */
h3{

	color: #4aaaa5;
	border-width: 5px;
	padding-bottom: 20px;
	padding-left: 10px;
	font-size: 30px;
	margin-left: 45px;
	margin-right: 45px;
	border-bottom: 4px solid #eee;
	font-family:'Georgia', Times, Times New Roman, serif;

}


/*project images on left side of container*/
.image_box_left{
    margin-top: 10px;
	margin-left: 65px;
	margin-bottom: -50px;
	float: left;
}


/*project images on left side of container*/

.image_box_right{

    margin-top: 10px;
	margin-right: 45px;
	margin-bottom: -50px;
	float: right;
}



/* textbox wireframe for contact page*/
p5{
	
    padding-left: 200px;
    padding-right: 200px;
    padding-top:  10px;
    padding-bottom: 10px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 800px;
    margin-left: 100px;
    border: 1px solid #ddd; 
    align-self: left;
    position: relative;
    bottom:  10px;
    right:  50px;

	}


/*holds content in main content box*/
.article_box2{
padding-top:10px;
padding-bottom: 30px;
padding-right: 10px;
color: #808080;
width: 600px;
height: auto;
background-color: #fff;
text-align: center;
margin-left: 30px;
margin-right: 30px;
margin-top: -30px;

}

/*Connect with me*/
h4{
	color: #4aaaa5;
	border-width: 5px;
	margin-top: -50px;
	padding-bottom: 20px;
	padding-right: 10px;
	font-size: 25px;
	margin-left: -10px;
	width:  200px;
	font-family:'Georgia', Times, Times New Roman, serif;

}

/* Logo area (Name)*/

h1{
    background: #4aaaa5;
    width: 200px;
    padding-top:  30px;
    padding-bottom:  15px;
    height:  47px;
	color: #fff;
	top:  -35px;
	left: 200px;
	text-align: center;
	font-size: 25px; 
	position: relative;
	float: top;
	font-family:'Georgia', Times, Times New Roman, serif;

}

/* Footer Content */
p2{
text-align: center;
font-size: 12px;
font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;



}

/*styling for container within the sidebar*/
.article_box3{

padding: 2px;
color: #777;
width: 180px;
height: 50px;
background-color: #fff;
text-align: center;
margin-left: 30px;
margin-right: 30px;
margin-top: 50px;
border-top-style: solid;
border-top-color: #eee;


}

/*Contact Textbox Labels */

h6{
	color: #ccc;
	border-width: 2px;
	margin-top: 10px;
	padding-bottom: 20px;
	padding-right: 5px;
	font-size: 20px;
	margin-left: -20px;
	width:  200px;
	font-family:'Georgia', Times, Times New Roman, serif;

}

/*padding for all images*/

img{

	padding: 5px;
}